@tailwind base;
@tailwind components;

@layer components {
  .highlight {
    position: relative;
    @apply after:bg-primary-500
    after:w-4/5 
    after:h-0.5
    after:absolute
    after:left-0
    after:-bottom-1;
  }

  .glass {
    backdrop-filter: blur(0.25rem) saturate(180%);
  }

  .btn-primary {
    @apply transition-all rounded-lg bg-primary-600 px-2 py-1 outline outline-0 outline-primary-500 focus:outline-primary-500 focus:outline-4 border-2 border-primary-600 hover:border-primary-500;
  }

  .btn-primary-outline {
    @apply transition-all rounded-lg px-2 py-1 outline outline-0 outline-primary-500 focus:outline-primary-500 focus:outline-4 border-2 border-primary-600 hover:border-primary-500;
  }

  .btn-rose {
    @apply transition-all rounded-lg bg-rose-600 px-2 py-1 outline outline-0 outline-rose-500 focus:outline-rose-500 focus:outline-4 border-2 border-rose-600 hover:border-rose-500;
  }

  button.disabled {
    @apply opacity-60 cursor-not-allowed;
  }
}

@tailwind utilities;

/* 
Tailwind Colors :
TEAL
teal-500
PALE RED
rose-700

gray alias :
zinc
*/

body {
  font-family: "Comfortaa", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: zincscale;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

hr {
  @apply my-2;
}
